/* Header */
header {
  display: grid;
  grid-template-columns: 150px 1fr; /* Logo a la izquierda, nav a la derecha */
  align-items: center;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 10px 20px;
  text-align: left; /* quitamos el centrado */
}

header .logo {
  width: 120px;
  display: block;
  margin: 0;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* menú a la derecha */
  gap: 20px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between; /* texto a la izq, social a la der */
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  margin-top: 20px;
}

footer .socialmedia {
  display: flex;
  gap: 10px;
}

footer .socialmedia img {
  width: 32px;
  vertical-align: middle;
}
